body{
  background-color:#000000;
  color:white;
  font-family: Arial, Helvetica;
  font-size:14px;
  font-weight:normal;
  line-height:1.6em;
}

h1{
  color:green;
  font-size:50px;
  font-weight:bold;
}
