body{
  background-color:#000000;
  color:white;
  font-family: Arial, Helvetica;
  font-size:14px;
  font-weight:normal;
  line-height:1.6em;
}

h1{
  color:green;
  font-size:50px;
  font-weight:bold;
  width:80%;
  margin:0;
}

.box-1{
  background-color:#333333;
  color:#fff;
  margin:0;
}

.box-2{
background-color:#F54927;
margin:0;
}
